<h1>誰かがbot ベータ</h1>

<img style="display: block; width: 400px;" src="/chat.png" alt="会話出来る">
<h2>話しかけた内容を、<a href="http://darekagakaku.herokuapp.com/">誰かが書く日記</a>に書いてくれます。</h2>
<img style="display: block; width: 400px;" src="/machiuke.png" alt="通知が来る">
<h2><a href="http://darekagakaku.herokuapp.com/">誰かが書く日記</a>が更新されると話しかけてきます。</h2>
<img style="display: block; width: 400px" src="https://qr-official.line.me/sid/L/jhb8564o.png" alt="QRコード">
<a href="http://line.me/ti/p/%40jhb8564o">
  <img height="36" border="0" alt="友だち追加" src="http://biz.line.naver.jp/line_business/img/btn/addfriends_en.png">
</a>
<h2>友達になりましょう。</h2>
